.container_cards{
    display: flex;
    align-items: center;
    width: 100vh;
    flex-direction: column;
    margin: auto;
}

.content_cards {
    display: flex;
    width: 33%;
    align-items: center;
    text-decoration: none;
    border-radius: 2rem;
}


.body_cards{
    background-color: white;
    margin: 2rem;
    width: 60vh;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    
}

.titulo_cards{
   text-align: center;
   color: var(--color_megroV2);
   font-weight: bold;
   font-size: 2.5rem;
 padding-left: 2rem;
   width: 40%;
}


.body_cards:hover{
    box-shadow: 10px 10px 10px var(--color_gris_oscuro);
}