:root{
  --color_negroV1: #260A15;
  --color_marron: #401424;
  --color_gris_oscuro: #8C8070;
  --color_gris_claro: #BFB2A3;
  --color_megroV2: #0D0000;
  --fuente_contenido: 'quicksand';
  --fuente_titulos: "Permanent Marker"
}

body{
  background-image: url("./img/fondo.jpg");
}

label , input, p{
  font-family: var(--fuente_contenido);
}

h1 ,h2, h3, h4, h5, h6{
  font-family: var(--fuente_titulos);
}


.container__navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container{
  height: 140px;
  padding: 1rem 0 0 1rem ;
  width: 100%;
  justify-content: center;
  align-items: center;
 border-bottom: .5px solid var(--color_negroV1);
}

.logo{
  width: 210px;

}

.container__navbar__body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.container__navbar__links{
  display: flex; 
  width: 650px;
  justify-content: space-around;
  
}


.nav__item1, .nav__item2{
  display: flex; 
  border: 3px solid var(--color_marron);
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  width: 20vh;
}
.nav__item2{

  background-color: var(--color_marron);
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  width: 20vh;
}


.nav__link1{
  margin: .5rem;
  text-align: center;
  text-decoration: none;
  color: var(--color_marron);
  font-family: var(--fuente_contenido);
  font-weight: bold;
}

.nav__link2{
  margin: .5rem;
  text-align: center;
  text-decoration: none;
  color: var(--color_gris_claro);
  font-family: var(--fuente_contenido);
  font-weight: bold;
}
